[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=keeweb
GenericName=keeweb
Exec=/lib/keeweb/KeeWeb
Terminal=false
Icon=/lib/keeweb/128x128.png
Type=Application
Categories=Application;Security;
Comment=Keepass Password Manager, but better and written in js ;)
