[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=vscode
GenericName=Visual Studio Code
Exec=/usr/lib/vscode/code
Terminal=false
Icon=/usr/lib/vscode/resources/app/resources/linux/code.png
Type=Application
Categories=Application;Development;
Comment=Awesome Text Editor to replace your IDE, from Microsoft
